.gallery {
    text-align: center;
}

.gallery img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border: 2px solid #cc6699;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}